# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
*.log
*.tmp
*.cache

# OS-specific files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Virtual environments
.env/
.venv/
venv/
ENV/

# Python environment files
pip-log.txt
debug.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Raspberry Pi camera artifacts
*.h264
*.mp4
*.avi